.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
.bg-danger, .bg-red {
    background-color: #ff5b57!important;
    color: white;
}
.text-theme, .sidebar .nav > li.active > a i {
    color: #f59c1a;
}
.header .navbar-logo, .login .login-header .brand .logo, .header .navbar-nav > li > a .label, .label.label-theme, .btn.btn-scroll-to-top {
    background: #f59c1a;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #00acac!important;
    border-color: #00acac!important;
    color: #fff;
}
@media (max-width: 935px){
    .tamano {height: 1px;}
}
.tamano { height: 10px; }
#mdialTamanio{
    width: 80% !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #cd9543;
}
input.success:checked + .slider {
    background-color: #cd9543;
}
input.info:checked + .slider {
  background-color: #cd9543;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.menuFondo
{
  background: #000000;
}

.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover {
    color: #ffffff;
    background: #ce9440;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a.active, .nav-pills>li>a.active:focus, .nav-pills>li>a.active:hover {
    background: #cd9543;
    color: #fff;
}
.nav>li>a {
    color: #ffffff;
    BACKGROUND: BLACK;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 250px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #cd9543!important;
    border-color: #cd9543!important;
    color: #fff;
}
.modal-header {
    padding: 12px 15px;
    border-bottom-color: #e2e7eb;
    background: #ce9440;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: white;
}

.btn.btn-warning, .btn.btn-warning.disabled, .btn.btn-warning.disabled:focus, .btn.btn-warning.disabled:hover, .btn.btn-warning[disabled], .btn.btn-warning[disabled]:focus, .btn.btn-warning[disabled]:hover {
    color: #fff;
    background: #ce9440;
    border-color: #ce9440;
}

.btn-warning:hover {
    color: black;
    background-color: #ffc267;
    border-color: #ffc267;
}

.switcher.switcher-warning input:checked+label:before {
    background: #ce9440;
    border-color: #ce9440;
}

.file-zoom-dialog .kv-zoom-title {
    font-weight: 300;
    color: white;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn.btn-primary, .btn.btn-primary.disabled, .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled:hover, .btn.btn-primary[disabled], .btn.btn-primary[disabled]:focus, .btn.btn-primary[disabled]:hover {
    color: #fff;
    background: #ce9440;
    border-color: #ce9440;
}